<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:component-scan base-package="io.github.johnshen1990.javawebapp"/>
    <mvc:annotation-driven />


    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/view/freemarker/"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="cache" value="true"/>
        <property name="prefix" value=""/>
        <property name="suffix" value=".ftl"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
    </bean>

    <!-- HandlerExceptionResolver test -->
    <bean class="io.github.johnshen1990.javawebapp.interceptor.ExceptionHandler" />

    <!-- InitSequenceBean test -->
    <bean init-method="initMethod" destroy-method="destroyMethod"
          class="io.github.johnshen1990.javawebapp.servlet.InitSequenceBean" />

    <!-- 加载配置文件 -->
    <!--<bean id="prop" class="org.springframework.beans.factory.config.PropertiesFactoryBean">-->
        <!--<property name="locations">-->
            <!--<array>-->
                <!--<value>classpath:config.properties</value>-->
            <!--</array>-->
        <!--</property>-->
    <!--</bean>-->

    <util:properties id="prop" location="classpath:config.properties" />

</beans>